@import url('orbit.css');
@import url('about.css');
@import url('resume.css');
@import url('portfolio.css');
@import url('certificate.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Will change */



/* Body */

body {
    font-size: 10px;
    font-family: 'Montserrat', serif;
}

a {
    text-decoration: none;
    color: #000;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.active {
    color: rgb(48, 142, 219) !important;
}

.none {
    display: none !important;
}

/* Header */

.header__nav {
    padding: 20px;
    background-color: #110808;
    padding: 25px 0;

}

.header__nav_list{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.header__nav_link {
    position: relative;
    display: inline-block;
    overflow: hidden;
    color: aliceblue;
    font-size: 2.5rem;
}

.header__nav_link span {
    position: absolute;
    left: 0;
    display: block;
    overflow: hidden;
    width: 0;
    height: 100%;
    font-size: 40px;
    backface-visibility: hidden;
    background-color: #111;
    transition: width 0.3s;
  }
  
  .header__nav_link span::before {
    content: attr(data-text);
    position: absolute;
    right: 0;
    display: block;
    width: 100%;
    color: tomato;
    backface-visibility: hidden;
  }
  
  .header__nav_link:hover span {
    width: 100%;
    transition: width 0.3s;
  }



/* Footer */

.footer {
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
}

.footer a {
    color: aliceblue;
}



.footer__content {
    background-color: #110808;
}

.footer__wrapper {
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    color: aliceblue;
}

.footer__wrapper ul {
    list-style: none;
}

.footer__contacts_title {
    font-size: 3em;
    text-align: center;
    padding-bottom: 1em;
}

.footer__contacts_subtitle {
    font-size: 3em;
    text-align: center;
    padding-bottom: 1em;
}

.footer__conacts_list {
    display: flex;
    justify-content: space-between;
}

.footer__nav_link {
    font-size: 2em;
    line-height: 2.5em;
    transition: 0.4s ease-in;
}

.footer__nav_link:hover {
    color: aquamarine;
    padding-left: 20px;
}

.footer__contact_link {
    width: max-content;
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 2em;
    line-height: 2.5em;
    transition: all 0.4s ease-in;
}



.footer__contact_link:hover {
    transform: scale(2);
}

.footer .far {
    font-size: 1.2em;
}

.footer__content > p {
    font-size: 1.2em;
    text-align: center;
    padding: 20px 0;
}




