@import url('about.css');
@import url('rain.css');
@import url('resume.css');
@import url('portfolio.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-size: 10px;
    font-family: 'Montserrat', serif;
}

a {
    text-decoration: none;
    color: #000;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
}

.header__nav {
    padding: 20px;
}

.header__nav_list{
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 3rem;
}

.none {
    display: none !important;
}





